[submodule "CryDust/vendor/spdlog"]
	path = CryDust/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "CryDust/vendor/GLFW"]
	path = CryDust/vendor/GLFW
	url = https://github.com/TheCherno/glfw

[submodule "CryDust/vendor/imgui"]
	path = CryDust/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "CryDust/vendor/glm"]
	path = CryDust/vendor/glm
	url = https://github.com/g-truc/glm
