# Binaries
**/bin/
!vendor/premake/bin/
bin-int/
Intermediates/
obj/

# Hazel files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# C# 脚本核心构建产物（首次构建自动生成）
CryDust-Editor/Resources/Scripts/*.dll
CryDust-Editor/Resources/Scripts/*.pdb

# Directories
CryDust/vendor/VulkanSDK
CryDust-Editor/assets/cache
scripts/__pycache__
